<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://www.goyard.com/public/style/front.css">
</head>
<body>
    <div id="ombrevignettes" style="background:none;" class="fullscreenMarquage">
        <div class="imagesSlider swipe wrapper">
            <div class="imagesContent">
                <div class="image marquageCustom">
                    <div id="afficheColGoy"></div>
                    <div id="afficheMotif"></div>
                    <div id="afficheMotif1"></div>
                    <div id="afficheInitiales">zoe</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
